body{
    margin:0;
    font-family: 'roboto';
}

a{
    text-decoration: none;
    color:#fff;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000066;
    padding:8px 12px;
}

header .main_logo{
    font-size:24px;
    font-weight:600;
    color:#fff;
}

header .main_logo i{
    color:#ff3300;
}

header .menu{
    display:flex;
    list-style: none;
    padding-left:0px;
}
header .menu li{
    padding:8px 12px;
    font-size:18px;
}

header .menu li:hover{
    background: #ff3300;
    border-radius: 5px;
}

header .icons{
    display:flex;
    list-style: none;
    color:#fff;
    padding-left:0px;
}
header .icons i{
    font-size:18px;
    padding:8px 12px;
}
header .moreBtn{
    display:none;
    color:#ff3300;
    font-size:24px;
    position:absolute;
    right:32px;
}

@media screen and (max-width:768px){
    header{
        flex-direction: column;
        align-items: flex-start;
        padding:8px 12px;
    }

    header .menu{
        flex-direction: column;
        width:100%;
        align-items: center;
    }
    header .menu li{
        width:100%;
        text-align: center;
    }
    header .icons{
        width:100%;
        justify-content: center;
    }
    header .moreBtn{
        display:block;
    }
}
